<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    5.0
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    10.0
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    8.998128077862868
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
